.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy-sell {
    display: flex;
    justify-content: center;
}